name: Task-2 DBT Workflow

on:
  push:
    branches:
      - task-2
  pull_request:
    branches:
      - main
      - dev

jobs:
  task2:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.13'

      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run raw data loader script
        run: python src/load_raw_data.py   # <-- updated filename

      - name: Install dbt
        run: pip install dbt-postgres

      - name: Run dbt models
        run: dbt run --profiles-dir . --project-dir ./medical_warehouse

      - name: Run dbt tests
        run: dbt test --profiles-dir . --project-dir ./medical_warehouse

      - name: Generate dbt docs
        run: |
          dbt docs generate --profiles-dir . --project-dir ./medical_warehouse
