name: Task-5 Pipeline Orchestration

on:
  push:
    branches:
      - task-5
      - main
      - dev
  pull_request:
    branches:
      - main
      - dev

jobs:
  task4-build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.13'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

